@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;
@use "../../styles/global" as *;
@use "../../styles/variables" as *;

.singleLocate {
  background: none;
  border: none;
  position: absolute;
  top: toRem(198);
  right: toRem(30);
  z-index: 9;
  cursor: pointer;
}

.panImg {
  width: toRem(32);
}
