@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;
@use "../../styles/global" as *;
@use "../../styles/variables" as *;

.library{
    margin: toRem(16);
    &__header{

    }

    &__header--arrow{
        background: $btn-color2;
        border-radius: 50%;
        border:solid 2px $text-color;
        
    }

    &__header--title{

    }

    &__header--info{
        margin-bottom: toRem(16);
       

    }

    &__info{
        border:black solid 2px;
        border-radius: 20px;
        padding: toRem(16);
    }


    &__info--header{
        margin-bottom: toRem(16);

    }

    &__info--about{
        color:$sub-text-color;
        display:flex;
       
        
        
       

    }

    &__info--detail{
        @include text-style(toRem(16), normal, 300);
        

    }
}

.icon{
    height: toRem(30);
    
}