@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;
@use "../../styles/global" as *;
@use "../../styles/variables" as *;

.locate {
  background: none;
  border: none;
}

.globe {
  position: absolute;
  z-index: 9;
  top: toRem(230);
  right: toRem(30);
  z-index: 9;
  width: toRem(32);
  cursor: pointer;
}

.reader {
  width: toRem(32);
  margin: 0 toRem(4);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: toRem(16);
}

.main {
  margin: toRem(16) toRem(16) 0 toRem(16);

  &__header {
    margin-bottom: toRem(16);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info {
    @include text-style(toRem(16), normal, 400);
    text-align: center;
  }
}

.libraries {
  &__container {
    margin: toRem(16);
    border: solid 2px $text-color;
    border-radius: 20px;
    padding: toRem(24);
    margin: toRem(24);
    background-color: $btn-color2;
  }

  &__headers {
    margin-bottom: toRem(16);
  }

  &__details {
    @include text-style(toRem(16), normal, 400);
  }

  &__books {
    background-color: $btn-color;
    border-radius: 20px;
    border: solid $text-color 2px;
    width: toRem(100);
    text-align: center;
    padding: toRem(4) toRem(8);
    font-size: toRem(14);
    cursor: pointer;
  }

  &__btnWrapper {
    display: flex;
    justify-content: flex-end;
  }
}

.libraries__books:hover {
  background-color: $btn-hover-yellow;
}
